* {
    box-sizing: border-box;
    margin:0;    
}

body {
    font-family: roboto, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 16px;


}

.logo-text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    margin:0;
    padding: 0;
    display: flex;
    gap: 16px;
    list-style: none;
}

a{
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.hero, 
.footer{
    background-color: #1F2937;
}

.hero-container,
.services,
.testimonials-container,
.cta {
    width: 1024px;
    margin-inline: auto;
}

.hero-content {
    display:flex;
    gap: 32px;
    padding-block: 116px;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-cpy p {
 font-size: 18px;
 color: #E5E7EB;
}

.hero-content img {
    width: 600px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 8px 32px;
    margin-top: 16px;
    border-radius: 8px;
    border-style: none;

}

.services {
    padding-top: 48px;
    padding-bottom: 96px;
}

.services h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align:center;

    margin-bottom: 48px;
}

.cards {
    display: flex;
    gap: 48px;
    justify-content: space-around;
    margin-inline: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:8px;
    flex-basis: 250px;
}

figcaption {
    text-align: center;
}

.card img {
    width:172px;
    border: 3px solid #3882F6;
    border-radius: 16px;
}

.testimonials {
    background-color: #E5E7EB;
}

.testimonials-container{
    padding-block: 116px;
    width:900px;
}

blockquote {
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.testimonials p {
    text-align: right;
    font-weight: bold;
}

.cta {
    padding: 64px 0;
}

.cta-banner {
    background-color: #3882F6;
    display: flex;
    color:#F9FAF8;
    justify-content: space-between;
    align-items: center;
    padding: 48px 64px;
    border-radius: 8px;
}

.cta-banner p {
    color: #E5E7EB;
}

.cta-banner button{
    border: 2px solid #F9FAF8;
}

.footer {
    color: #E5E7EB;
    padding: 24px 0;
    text-align: center;
}